@model IEnumerable<Craft>

@{
    ViewData["Title"] = "Craft Catalog";
}

<h1>Catalog</h1>

<p>
    <a asp-action="Create" asp-controller="Craft">Create a Craft</a>
</p>
<table class="table-striped table-hover" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CraftId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Craft item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CraftId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
